
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.required {
  color: red;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .container{
      max-width: 1400px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.new-job-banner {
  background-color: $success;
  text-align: center;
  color: #FFF;
  padding: 2px 0;
  margin-bottom: 20px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.job-masonry {
  background-color: #FFF;
  border: 1px solid #EEE;
}